<div>
    <header>
        <div id="logo">
            <img src="https://firebasestorage.googleapis.com/v0/b/taller-3-6cd33.appspot.com/o/images%2Flogo.png?alt=media&token=59f620d4-8151-41ad-8fd3-1c79330971fc">
        </div>
        <nav>
            <ul>
                <li class="current"><a [routerLink]="['gestionParqueadero/home']">Home</a></li>
                <li><a [routerLink]="['/gestionParqueadero/tarifas'] ">Tarifas</a></li>
                <li><a href="#">Administración</a></li>
                <li><a [routerLink]="['gestionParqueadero/pisos']">Gestion</a></li>
                <li><a [routerLink]="['gestionParqueadero/FAQ']">FAQ</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
</div>