body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #fff;
}

#logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 10;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #ff8c00;
    /* Cambia a naranja al pasar el cursor */
    color: #000;
}

/* Estilos para el enlace de la sección actual */
nav ul li.login {
    background-color: #008000;
    /* Verde para la sección actual */
    color: #fff;
}
div {
    width: auto;
    height: 51px;
    background-color: rgb(255, 255, 255);
}