body {
    margin: 0;
    padding: 0;
    background: url('https://firebasestorage.googleapis.com/v0/b/taller-3-6cd33.appspot.com/o/images%2Fparking.jpg?alt=media&token=4a6ddd16-1852-47e7-90c2-7cce78859e54') center center/cover no-repeat fixed;
    font-family: 'Arial', sans-serif;
  }
  
  .center_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    max-width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }
  