<div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>edificio</th>
                <th>total vehiculos</th>
                <th>Espacios Disponibles</th>
                <th>Tipo Vehiculo</th>
                <th>Ver vehiculos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let piso of pisos;">
                <td>{{piso.id}}</td>
                <td>{{piso.edificio.id}}</td>
                <td>{{piso.totalVehiculos}}</td>
                <td>{{piso.espaciosDisponibles}}</td>
                <td>{{piso.tipoVehiculo.tipo}}</td>
                <a [routerLink]="['/gestionParqueadero/list']">ver Vehiculos</a>
            </tr>
        </tbody>
    </table>
</div>
