<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Edificio</th>
                <th>Total Vehiculos</th>
                <th>Espacios Disponibles</th>
                <th>Tipo Vehiculo</th>
                <th>Ver Vehiculos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let piso of pisos;">
                <td>{{piso.id}}</td>
                <td>{{piso.edificio.name}}</td>
                <td>{{piso.totalVehiculos}}</td>
                <td>{{piso.espaciosDisponibles}}</td>
                <td>{{piso.tipoVehiculo.tipo}}</td>
                <td>
                    <a (click)="verVehiculos(piso.id)" style="cursor: pointer;">Ver Vehiculos</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
