<div class="hero-section">
    <h1>Bienvenido al Futuro del Estacionamiento</h1>
    <a href="#features" class="cta-button">Ver Tarifas</a>
</div>

<div class="features-section" id="features">
    <div class="feature">
        <h2>
            <a href="">Administración de espacios</a>
        </h2>
    </div>

    <div class="feature">
        <h2>
            <a [routerLink]="['/gestionParqueadero/pisos']">Gestion de parqueos</a>
        </h2>
    </div>

    <div class="feature">
        <h2>
            <a href="">Tarifas y Espacios</a>
        </h2>
    </div>
</div>